{# Quill.js Rich Text Editor Partial #}
{# Usage: {% include 'includes/_quill_editor.html.twig' with {editor_id: 'editor', textarea_id: 'full_description', content: server.fullDescription|default('')} %} #}

<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('assets/css/components/quill-editor.css') }}">

<div id="{{ editor_id }}"></div>
<textarea id="{{ textarea_id }}" name="{{ textarea_id }}" style="display:none;">{{ content|raw }}</textarea>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<script nonce="{{ csp_nonce() }}">
(function() {
    var quill = new Quill('#{{ editor_id }}', {
        theme: 'snow',
        placeholder: 'Redigez votre description...',
        modules: {
            toolbar: [
                [{ 'header': [1, 2, 3, false] }],
                ['bold', 'italic', 'underline', 'strike'],
                [{ 'color': [] }, { 'background': [] }],
                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                ['blockquote', 'code-block'],
                ['link', 'image'],
                ['clean']
            ]
        }
    });

    var textarea = document.getElementById('{{ textarea_id }}');
    if (textarea.value) {
        quill.root.innerHTML = textarea.value;
    }

    var form = textarea.closest('form');
    if (form) {
        form.addEventListener('submit', function() {
            textarea.value = quill.root.innerHTML;
        });
    }

    quill.on('text-change', function() {
        textarea.value = quill.root.innerHTML;
    });
})();
</script>
