<!doctype html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ setting('seo_title', 'Nexarena - Classement de Serveurs de Jeux') }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{{ setting('seo_description', 'Nexarena - Classement et listing de serveurs prives de jeux videos') }}{% endblock %}">
    <meta name="keywords" content="{{ setting('seo_keywords', '') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if setting('seo_og_image') %}
        <meta property="og:image" content="{{ asset(setting('seo_og_image')) }}">
    {% endif %}
    <meta property="og:title" content="{{ setting('seo_title', 'Nexarena') }}">
    <meta property="og:description" content="{{ setting('seo_description', '') }}">

    <link rel="icon" type="image/png" href="{{ asset('assets/img/logo/favicon.png') }}">

    {# CSS #}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/swiper-bundle.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/tg-cursor.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/odometer.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/spacing.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">

    {% block stylesheets %}{% endblock %}

    {# Page-Revealer #}
    <script src="{{ asset('assets/js/tg-page-head.js') }}"></script>
</head>

<body class="bg-black2">

    {# Scroll to top #}
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="flaticon-right-arrow"></i>
    </button>

    {# Header #}
    {% include 'includes/_header.html.twig' %}

    {# Main Content #}
    <main class="main--area">
        {% block body %}{% endblock %}
    </main>

    {# Footer #}
    {% include 'includes/_footer.html.twig' %}

    {# JS #}
    <script src="{{ asset('assets/js/vendor/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.countdown.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.odometer.min.js') }}"></script>
    <script src="{{ asset('assets/js/simpleParallax.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/gsap.min.js') }}"></script>
    <script src="{{ asset('assets/js/scrollTrigger.min.js') }}"></script>
    <script src="{{ asset('assets/js/splitText.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.appear.js') }}"></script>
    <script src="{{ asset('assets/js/tg-cursor.min.js') }}"></script>
    <script src="{{ asset('assets/js/swiper-bundle.js') }}"></script>
    <script src="{{ asset('assets/js/jarallax.min.js') }}"></script>
    <script src="{{ asset('assets/js/parallax.min.js') }}"></script>
    <script src="{{ asset('assets/js/slick.min.js') }}"></script>
    <script src="{{ asset('assets/js/ajax-form.js') }}"></script>
    <script src="{{ asset('assets/js/vivus.min.js') }}"></script>
    <script src="{{ asset('assets/js/wow.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>
